appdirs==1.4.3
asgiref==0.14.0
attrs==19.3.0
autobahn==0.16.0
autopep8==1.2.4
black==19.10b0
certifi==2020.4.5.1
cffi==1.14.0
channels @ git+https://github.com/pmarella2/channels.git#egg=channels
click==7.1.2
cryptography==2.9.2
daphne==0.15.0
Django==2.2.10
django-admin-honeypot==1.1.0
django-crispy-forms==1.9.0
django-csp==3.6
django-otp==0.9.1
django-sslserver==0.22
django-webpack-loader==0.6.0
djangorestframework==3.9.1
pathspec==0.8.0
pep8==1.7.0
Pillow==7.1.2
psycopg2-binary==2.8.4
pycparser==2.20
python-decouple==3.3
pytz==2020.1
qrcode==6.1
regex==2020.4.4
sentry-sdk==0.14.3
six==1.10.0
sqlparse==0.3.1
toml==0.10.0
Twisted==16.4.0
txaio==2.5.1
typed-ast==1.4.1
urllib3==1.25.9
zope.interface==4.2.0
